In [1]:
import pandas as pd

In [2]:
pd.__version__

'0.23.1'

In [3]:
df = pd.DataFrame({'country': ['russia', 'germany', 'australia','korea','germany']})
df

     country
0     russia
1    germany
2  australia
3      korea
4    germany

In [6]:
pd.get_dummies(df,prefix=['country'])

,country_australia,country_germany,country_korea,country_russia,country_japan
0,0,0,0,1,0
1,0,1,0,0,0
2,1,0,0,0,0
3,0,0,1,0,0
4,0,1,0,0,0

In [7]:
pd.get_dummies(df,prefix=['country'],drop_first=True)

   country_germany  country_korea  country_russia  country_japan
0                0              0               1              0
1                1              0               0              0
2                0              0               0              0
3                0              1               0              0
4                1              0               0              0

In [5]:
df["country"] = df["country"].astype('category',categories=["australia","germany","korea","russia","japan"])

/home/felipe/tf-venv3/lib/python3.5/site-packages/ipykernel_launcher.py:1: FutureWarning: specifying 'categories' or 'ordered' in .astype() is deprecated; pass a CategoricalDtype instead
  """Entry point for launching an IPython kernel.

In [ ]:
pd.get_dummies(df,prefix=['country'])

## what about nans

In [ ]:
import numpy as np

In [ ]:
df = pd.DataFrame({
    'country': ['germany',np.nan,'germany','united kingdom','america','united kingdom']
})
df

In [ ]:
pd.get_dummies(df,dummy_na=True)

## one-hot encode a single column

In [ ]:
df = pd.DataFrame({
    'has_dogs':[True,False,True,True,False,True],
    'country': ['germany',np.nan,'germany','united kingdom','america','united kingdom']
})

In [ ]:
pd.get_dummies()