In [1]:
import pandas as pd

from sklearn.pipeline import Pipeline

In [2]:
from dsutil.categories import ToDummiesTransformer,SelectColumnsTransfomer

In [3]:
df = pd.DataFrame({
    'name':['martha','luke','johnny','betty'],
    'state':['KY','WY','NC','WY'],
    'age':[12,56,54,33]
})
df.columns.values

array(['age', 'name', 'state'], dtype=object)

In [5]:
pipeline = Pipeline([
    ('select',SelectColumnsTransfomer(['name','state','age'])),
    ('dummies',ToDummiesTransformer('state'))
    
])

pipeline.fit_transform(df)

     name  age  state_KY  state_NC  state_WY
0  martha   12         1         0         0
1    luke   56         0         0         1
2  johnny   54         0         1         0
3   betty   33         0         0         1