In [8]:
import pandas as pd
import numpy as np

from dsutil.general import DataframeFunctionTransformer

In [9]:
df = pd.DataFrame({
    'name':['john','peter',np.nan],
    'age':[12,34,43]
})

In [12]:
trans=DataframeFunctionTransformer('name',lambda n: n.upper(),none_treatment='return_none')

In [13]:
trans.fit_transform(df)

   age   name
0   12   JOHN
1   34  PETER
2   43    NaN