In [1]:
import pandas as pd

from sklearn.pipeline import Pipeline

In [2]:
from dsutil.categories import ToDummiesTransformer,SelectColumnsTransfomer

In [6]:
df = pd.DataFrame({
    'name':['martha','luke','johnny','betty'],
    'state':['KY','WY','NC','WY'],
    'age':[12,56,54,33]
})
df.columns.values

array(['age', 'name', 'state'], dtype=object)

In [11]:
pipeline = Pipeline([
    ('select',SelectColumnsTransfomer('name'))
    
])

pipeline.fit_transform(df)

     name
0  martha
1    luke
2  johnny
3   betty